test-results

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/.prisma-client
/build
generated
generated/*
generated/prisma/*
/docker/volumes/*
/dist
/dev-dist


# Dependencies
node_modules/
.pnpm-store/

# Environment and IDE files
.env
.env.*
!.env.example
.windsurf
.vscode/
*.md

# Logs and cache
*.log
.cache/

# Operating System Files
.DS_Store
Thumbs.db
.fuse*

# Docker
docker/

# Data directories
data/
data/postgres/
data/redis/
*.db
*.rdb

# Git
.git/
.git
**/.git/
**/.git
.gitignore
.github/

e2e
docker-compose-*.yml
.ssh
